{% load static %}
<div class="main-sidebar sidebar-style-2">
    <aside id="sidebar-wrapper">
      <div class="sidebar-brand">
        <a href=#><img src="{% static '/img/logo.png' %}" style="height:99px"></a>
      </div>
      <div class="sidebar-brand sidebar-brand-sm">
        <a href=#><img src="{% static '/img/logo.png' %}" style="height:99px"></a>
      </div>
      <ul class="sidebar-menu">
        <li class="menu-header">Store</li>
      </ul>
      <div class="mt-4 mb-4 p-3 hide-sidebar-mini">
        <a href="{% url 'admin_logout_process' %}" class="btn btn-primary btn-lg btn-block btn-icon-split">
          <i class="fas fa-rocket"></i> Logout
        </a>
      </div>        </aside>
  </div>
